body{
	background: url(../img/fondologin.jpg);
	font-family: 'sans-serif', sans-serif;
	color: #FFFFFF;
}

.logo{
	width: 250px;
}

.titulo{
    margin-bottom: 50px;
}

*[role="form"] {
    margin: 0 auto 0 auto;
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(25,25,25,0.5);
    border-radius: 4px;
    background-color: rgba(25,25,25,0.5);
    padding: 2% 2% 2% 2%;
    color: #FFF;
    text-shadow: 1px 1px #000000;
}

.tile a { color: red; }
.tile a:hover {
    text-decoration: none;
    color: white;
}
.tile a:link { text-decoration: none;}
.tile a:visited {text-decoration: none;}
.tile a:active {text-decoration: none;}